body {
  margin: 0;
  overflow: hidden;
}

#builderDiv {
  transform: scale(1);
}

#canvas {
  display: block;
  height: 600px !important;
  width: 600px !important;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

#object-bar {
  width: 100px;
  height: 600px;
  background-color: #c5c5c5;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  border-radius: 12px 0px 0px 12px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

#object-bar img {
  display: block;
  width: 80px;
  padding-right: 20px;

  height: auto;
  cursor: pointer;
  margin-bottom: 10px;
}

#object-bar img:hover {
  opacity: 0.8;
}

#sideBar {
  margin: 0;
  line-height: 0px;
}

#top-view {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 0px 12px 0 0px;
  border-top: 3px solid black;
  border-right: 3px solid black;
}

#chat {
  line-height: normal;
  width: 160px;
  height: 440px;
  background-color: #c5c5c5;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  border-radius: 0px 0px 12px 0px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  margin-bottom: 0px !important;
}

#chat::-webkit-scrollbar,
#object-bar::-webkit-scrollbar {
  width: 10px;
}

#chat::-webkit-scrollbar-track,
#object-bar::-webkit-scrollbar-track {
  background: #c5c5c5;
}

#chat::-webkit-scrollbar-thumb,
#object-bar::-webkit-scrollbar-thumb {
  background: #888;
}

#chat::-webkit-scrollbar-thumb:hover,
#object-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#colorPicker {
  width: 65px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
  background-color: #555;
}
